@media (min-width: 1110px) {
    .main{
        display: flex;
        padding: 3rem;
        gap: 5rem;   
        align-items: start;
        max-width: 150rem;
    }

    .cart-section{
        padding: 2rem;
        width: 60%;
        min-width: 30rem;
    }

    .box-cards{
        
        justify-content: space-between;
    }
    .modalOrderConfirmed{
        align-items: center;
    }
    .modalBox{
        height: auto;
        width: 70rem;
        padding: 3rem;

    }
}