@media (min-width: 685px) {
    .main{
        max-width: none;
        padding: 3rem;
    }

    .cart-section{
        max-width: 50rem;
        margin: 0 auto;
    }

    #products-section {
        margin: 0 auto;
      }



    
    
}